.CurrentWeatherWrapper {
    display: flex;
    width: 80%;
    padding: 20px;

    .WeatherNow {
        width: 30%;
        height: 100%;
        flex: 2;
        text-align: center;
    }

    .WeatherToday {
        flex: 1;

        .ItemsWrapper {
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding: 10px;
            background-color: rgba(#FFFFFF,0.1);
        }
    }

    .WeatherInfo {
        font-size: 1.5rem;
    }

    .Heading {
        text-align: center;
    }
}
