
.WeatherToday {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-size: 1.2rem;

    .Heading {
        font-size: 2rem;
    }

    .ItemsWrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 1fr 1fr;
        gap: 5px;
    }
}

@media screen and (max-width: 800px) { 
    .WeatherToday {
        font-size: 1rem;

        h3 {
            font-size: 1.5rem;
        }
    

        .ItemsWrapper {
            width: 100%;
        }
    }
}