*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  align-items: center;
  min-width: 100vw;
  min-height: 100vh;
  overflow: hidden;

  .ContentWrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 1;
    user-select: none;

    .CurrentWeatherWrapper {
      display: flex;
      gap: 20px;
    }
  }

  .Drawer {
    position: absolute;
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100vw;
    background-color: #242424;
    bottom: 0;
    transition: transform 500ms ease-in-out;

    &.Active {
      transform: translateY(0);
    }

    &.InActive {
      transform: translateY(150%);
    }
  }

.ErrorMsg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: red;
  font-weight: bold;
}

}


@media screen and (max-width: 800px) {
  .App {
    .ContentWrapper {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      flex: unset;
      flex-wrap: wrap;

        .CurrentWeatherWrapper {
          flex-direction: column;
          align-items: center;
        }
    }
  }
}