*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  align-items: center;
  min-width: 100vw;
  min-height: 100vh;
  overflow: hidden;

  .ContentWrapper {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 1;
  }

}


@media screen and (max-width: 800px) {
  .App {
    .ContentWrapper {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 90%;
      flex: unset;
      flex-wrap: wrap;
    }
  }
}